<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>form</title>
</head>

<body>

  <form action="/new_user" method="POST">
    New User? Signum Here:<br>
    <input type="text" name="first_name" value="first name">
    <input type="text" name="last_name" value="last name">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <h1>
    {% if user["first_name"] %}
    <span>Hello {{user["first_name"]}}</span>
    {{% endif %}}
    {% if user["last_name"] %}
    <span>{{user["last_name"]}}</span>
    {% endif %}
  </h1>


</body>

</html>