{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/socialBoard/css/login.css">
    <meta charset="UTF-8">
    <title>Biko's Billboard</title>
    <link href="https://use.fontawesome.com/082397c0ed.css" media="all" rel="stylesheet">
</head>



<body data-gr-c-s-loaded="true">
    <div class="login-page">
        <h1>BILLBOARD</h1>
        <div class="form">
            <div>
                {% if user.is_authenticated %}
                {{ user }}
                <br>
                <a href="{% url 'login' %}">login</a>
                <br>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>