body{
    background-color: rgb(10, 56, 10);
}
.header h1{
    color:white;
    text-align: center;
}

.card{
    height: 170px;
    /* background-image: url('../images/thinking-cap.jpg');
    background-size: contain; */
    padding: 2px;
    margin: 5px;
    background-color: wheat;
    border: 1.5px, solid, salmon;
    
}