body{
    background-color: rgb(10, 56, 10);
}
img{
    height: 170px;
    width: 100%;

}
.header h1{
    color:white;
    text-align: center;
}

.card{
    height: 170px;
    padding: 2px;
    margin: 5px;
    background-color: wheat;
    border: 1.5px, solid, salmon;
    
}
