
.container{
    
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    

}
.stripe{
   
    border: 1px solid white;
}
.header{
    background-color: black;
    color: white;    
    position:fixed;
    top: 0;
    width:100%;  
    
}
.header .hamburger .slice{
    width: 30px;
    height:5px;
    background-color: white;
    margin: 0px;
    padding:2%;
}
.header .hamburger .slice{
    margin: 5px 0px;
    
} 
.header .hamburger{
    display: none;
    list-style-type:none
}
@media screen and (max-width: 700px){
    .header .hamburger{
        display:inline-block;        
    }
    .header .topmenu{
        display: none;        
    }
    .topmenu01.apple{
       text-align: center;
    }
    .bunner.stripe{
        display:flex;
        flex-flow: column;       
    }
    .tv01,.tv02{
        width: 100%;
        height: 40%;
    }
    .lists.stripe a{
        display:none; 
        display:flex;
        flex-flow: column;
    }
    .lists.stripe a{
        display:none;
    }
}


a{
    text-decoration:none;  
}
.menu{
    list-style-type: none;
    display:flex;
}
.topmenu, .topmenu01{
    flex:1; 
     
 }
 .iphonex.stripe{
     text-align: center;
     background-color: #fafafa;     
     padding:5%;
    
 }
 
 .iphonex.stripe ul, .tv.stripe ul{
     font-size: 100%;
     color: blue;
     list-style-type: none;
    
 }
 .iphonex.stripe li, .tv.stripe li{
     display: inline;
     padding:2%;    
 }
 .first{
     height:200px;
    margin-top: 5%;
 }
 .second{
    height: 700px;
     background-repeat: no-repeat;
     background-position: center; 
     background-image: url('https://www.apple.com/v/home/eg/images/heroes/spring-iphone-xr/iphone_xr__b0z59ak0bqdy_large.jpg');
 }
 .third{
     height:700px;
    background-repeat: no-repeat;
     background-position: center; 
     background-image: url('https://www.apple.com/v/home/eg/images/heroes/spring-iphone-xs/iphone_xs__cm637qa5dno2_medium.jpg'); 
 }
 .tv.stripe{
     position: relative;
     color: white;
     text-align: center;
     height: 500px;
     background-size: cover;
     background-repeat: no-repeat;   
     background-image: url('https://www.apple.com/v/home/eg/images/heroes/apple-tv-4k/apple_tv_4k__e3m11h9wmmgm_medium.jpg');
 }
 .tv.stripe img{
     width: 100px;
     height: 100px;
     position: absolute;
     top:10px;
     left:40%;
   
     
 }
 .tv.stripe h2{
     font-size: 50px;
  
 }
 .tv.stripe h4{
     font-size: 120%;
 }

 .banner.stripe, .lists.stripe {
     display: flex;
     text-align: center;
     background-color: #fafafa;
     height:500px;
     

 }
 
 .tv01{
    background-size: contain;
    width:100%;    
    background-repeat: no-repeat;    
    background-image: url('https://www.apple.com/v/home/eg/images/promos/apple-tv/apple_tv__fhj6om2yj4i2_medium.jpg');
 }
 .tv02{   
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;    
    background-image: url('https://www.apple.com/v/home/eg/images/promos/apple-tv-plus/apple_tv_plus_tile__5j9ak2o1rrm6_medium.jpg'); 
 }
 .watch{
    background-size: contain;
    width:100%;     
     background-repeat: no-repeat;
    background-image: url('https://www.apple.com/v/home/eg/images/promos/watch-series-4/series_4_spring__c1oad4ap3k6e_medium.jpg') 
 }
 .ipad{
    width:100%;    
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('https://www.apple.com/v/home/eg/images/promos/ipad-pro/ipad_pro__cesqtbwwmi2u_medium.jpg');
     
 }
 .news{
    background-size: contain;
    width:100%;     
    background-repeat: no-repeat;
    background-image: url('https://www.apple.com/v/home/eg/images/promos/apple-news-plus/apple_news_plus_tile__enei4lmtsr0i_medium.jpg');
 }
 .music{
    background-size: contain;
    width:100%;        
    background-repeat: no-repeat;
    background-image: url('https://www.apple.com/v/home/eg/images/promos/apple-music/apple_music__gdfamywhn6ye_medium.jpg'); 
 }

 .details p{
    margin: 0;
    background-color:lightgray;
    color:grey;
    padding:2%;
    font-size: 80%;
    border-bottom: 1px solid grey;
}


 .lists.stripe{
     background-color: lightgrey;
     justify-content: space-between;
     padding:2%;
     margin-bottom: 0;
 }
 .lists.stripe a {
     color:gray;
     font-size: 90%;
     
 }
 .lists.stripe span{
    color:rgb(36, 31, 31);
    font-size: 80%;
 }
 .footer.stripe{
    color:gray;
     font-size: 80%;
     background-color: lightgrey;
     
     padding:2%; 
 }
 .footer .above a{
    color:blue; 
 }
 .below{
     width: 100%;
 }


 .below .links-below a{
     color:gray;
     
 }

 

 





