
html{

   height:100% ;
}
body{
    height:100%;
}
.header{
    height: 10%;
    background-color: black;
    color: white;
    
}
.menu{
    list-style-type: none;
    display:flex;
}
 .topmenu{
   flex:1; 
    
}

.details p{
    margin: 0;
    background-color:lightgray;
    color:grey;
    padding:2%;
    font-size: 80%;
    border-bottom: 1px solid grey;
}

