
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
   <link rel="stylesheet" type="text/css" href="{% static 'SocialBoard/css/boostrap/bootstrap.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'SocialBoard/css/comon.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'SocialBoard/css/login.css' %}">
   <meta charset="UTF-8">
   <title>Register Billboard</title>
</head>
<body>
<div class="login-page">
   <div class="form">
       <h2>Billboard</h2>
       <br>
       <form action="{% url 'register' %}" method="post">
           {% csrf_token %}
           {{ form.as_p}}
           <p class="error-msg" style="color:red;"></p>
            <button id="btn-submit" type="submit" class="btn btn-success">CREATE</button>
           <p class="message">Already registered?<a href="/">Sign In</a></p>
       </form>
   </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>